@import '~@angular/material/theming';
@include mat-core();


$palette-light-grey: (
  50 : #fdfdfd,
  100 : #fafafa,
  200 : #f7f7f7,
  300 : #f3f3f3,
  400 : #f1f1f1,
  500 : #eeeeee,
  600 : #ececec,
  700 : #e9e9e9,
  800 : #e7e7e7,
  900 : #e2e2e2,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$palette-atlant-orange: (
  50 : #fff6e1,
  100 : #ffe7b3,
  200 : #ffd881,
  300 : #fec84f,
  400 : #febc29,
  500 : #feb003,
  600 : #fea903,
  700 : #fea002,
  800 : #fe9702,
  900 : #fd8701,
  A100 : #ffffff,
  A200 : #fff7f1,
  A400 : #ffddbe,
  A700 : #ffd0a4,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$my-app-primary: mat-palette($palette-light-grey);
$my-app-accent:  mat-palette($palette-atlant-orange);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
